.wrapper {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* outline: #000; */
}
.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .form {
  width: 100%;
}
.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper .form .inputfield label {
  width: 250px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.wrapper .form .inputfield input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbdd;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.wrapper .form .inputfield .textarea {
  resize: none;
  height: 125px;
  width: 100%;
  outline: none;
  padding: 10px;
}

.wrapper .form .input_field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background-color: #5ba42f;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .input_field:last-child {
  margin-bottom: 0;
}

textarea {
  outline: none;
  border: 1px solid #d5dbdd;
  border-radius: 3px;
}

.inputCheckbox label {
  display: flex;
}

.inputCheckbox input {
  margin-top: 5px;
  margin-right: 7px;
  outline: none;
}

@media screen and (max-width: 510px) {
  .wrapper {
    box-shadow: none;
  }
  .wrapper .form .inputfield {
    display: block;
  }
}
